body
{
	background-color: #D0EEFF;
	width: 600px; /* Limit page width to prevent ugly text stretching */
}

.photo
{
	width: 72px;
	height: 72px;
	padding-right: 6px;
	float: left;
}

.bottom
{
	float: bottom;
}